body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  background: #111;
  color: #eee;
}

header {
  background: #000;
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid crimson;
}

#map {
  height: calc(100vh - 110px);
  width: 100%;
}

/* ポップアップの雰囲気を心霊寄りに */
.leaflet-popup-content-wrapper {
  background: #111;
  color: #eee;
  border: 1px solid crimson;
}

.leaflet-popup-tip {
  background: #111;
}
